*{
    font-family: Tahoma, Arial;
    color: hsl(30, 10%, 34%);
}

body{
    background-color: hsl(30, 54%, 90%);
}

main{
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    margin: 10% auto;
    padding: 5%;
    border-radius: 20px;
}

img{
    width: 100%;
    border-radius: 20px;
}

h1{
    color: hsl(24, 5%, 18%);
}

h2{
    color: hsl(14, 45%, 36%);
    padding-top: 1%;
}

h3{
    color: hsl(332, 51%, 32%);
    font-size: 18px;
}

p, li, label{
    font-size: 14px;
}

#ingredients, #instructions{
    border-bottom: 1.5px solid hsl(30, 18%, 87%);
}


/* Image, Title, Description */
#image-title-description p{
    padding-bottom: 2.5%;
}


/* Preparation */
#preparation{
    background-color: hsl(330, 100%, 98%);
    padding: 0.75% 4% 0.75%;
    margin-bottom: 4%;
}
#prep-2, #prep-3{
    padding-top: 3%;
}
#preparation ul{
    padding-left: 5%;
    list-style-position: outside;
}
#preparation li span{
    position: relative;
    left: 22px;
}


/* Ingredients */
#ingredients{
    padding-bottom: 4%;
}
#ingredients h2{
    margin-bottom: 2.5%;
}
#ingredients input{
    margin-left: 4%;
    accent-color: hsl(14, 45%, 36%);
}


/* Instructions */
#instructions ol { 
    list-style: none; 
    counter-reset: num; 
    padding-left: 4%;
} 

#instructions ol li { 
    counter-increment: num; 
    padding-bottom: 2%;
} 
#instructions ol li::before { 
    content: counter(num) ". "; 
    color: hsl(14, 45%, 36%);
    font-weight: bold; 
    position: absolute;
} 
#instructions li span{
    position: relative;
    left: 10px;
    margin-left: 22px;
    display: inline-block;
}


/* Nutrition */
.nutrition-info{
    border-bottom: 1.5px solid hsl(30, 18%, 87%);
    padding-bottom: 3%;
    padding-left: 10%;
}
#nutrition b{
    color: hsl(14, 45%, 36%);
} 
#nut-info-1{
    padding-top: 2%;
}
#nut-info-1 b{
    position: relative;
    left: 45%;
}
#nut-info-2 b{
    position: relative;
    left: 48%;
}
#nut-info-3 b{
    position: relative;
    left: 46%;
}
#nut-info-4 b{
    position: relative;
    left: 50%;
}
#nut-info-4{
    border: none;
}