@font-face {
    font-family: Inter;
    src: url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
}

*{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 100%);
}


body{
    background-color: hsl(0, 0%, 8%);
}

main{
    width: 40%;
    max-width: 1440px;
    min-width: 375px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    margin: 10% auto;
    padding: 7% 2%;
}

div{
    text-align: center;
}

img{
    border-radius: 50%;
    width: 100px;
}

h1{
    font-weight: 600;
    font-size: 26px;
    margin-bottom: -0.5%;
}
h2{
    font-weight: 700;
    color: hsl(75, 94%, 57%);
    padding-bottom: 2%;
}
p{
    padding-bottom: 3%;
}
h2, p, a{
    font-size: 14px;
}

div a{
    font-weight: 600;
    text-decoration: none;
    display: block;
    background-color: hsl(0, 0%, 20%);
    width: 80%;
    margin: auto;
    border-radius: 8px;
    line-height: 3.2em;
    height: 3.2em;
}

div a:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

footer a{
    text-align: center;
    color: gray;
    font-size: 12px;
    padding-top: 4%;
    text-decoration: none;
    display: block;
}
footer a:hover{
    cursor: pointer;
    color: hsl(75, 94%, 57%);
}